.Order1 {
   background: #000;
   color: #fff;
}

ul{
   margin: 0;padding: 0;
}

.Order img {
   rotate: 180deg;
   position: relative;
   top: 60px;
   border-radius: 0;
   width: 100%;
   z-index: -5;

}

.Order1 h1 {
   font-family: 'PT Serif', serif;
   display: flex;
   color: #fff;
   justify-content: center;
   align-items: center;
   font-size: 6vh;
}

.Order1 div.input_data {
   max-width: 30vw;
   margin: auto;
   display: flex;
   flex-direction: column;

   padding: 10px;
}

.Order1 label {
   font-family: 'PT Serif', serif;
   font-size: 3vh;

}

.Order1 input {
   width: 30vw;
   height: 5vh;
   border-radius: 10px;
   font-size: 20px;
}

.Order1 button {
   cursor: pointer;
   position: relative;
   margin: 2vw;
   z-index: 5;
   color: #fff;
   font-size: 1.5rem;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   text-align: center;
   background: #000;
   border: 2px solid #fff;;
   border-radius: 10px;
   width: 18vw;
   height: 5vh;
}

.Order1 button:before {
   content: '';
   background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
   position: absolute;
   top: -2px;
   right:-2px;
   background-size: 400%;
   z-index: -1;
   filter: blur(5px);
   width: calc( 100% + 6px);
   height: calc(100% + 6px);
   animation: glowing 20s linear infinite;
   opacity: 0;
   transition: opacity .3s ease-in-out;
   border-radius: 10px;
   font-family: 'PT Serif', serif;
   font-size: 3vh;
}

.Order1 button:active {
   color: #000
} 

.Order1 button:active:after {
   background: transparent;
}

.Order1 button:hover:before {
   opacity: 1;
}

.Order1 button:after {
   z-index: -1;
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background: #111;
   left: 0;
   top: 0;
   border-radius: 10px;
}

@keyframes glowing {
   0% { background-position: 0 0; }
   50% { background-position: 400% 0; }
   100% { background-position: 0 0; }
}


.Order1 form {
   display: flex;
   align-items: center;
   flex-direction: column;
}